@charset "utf-8";
/* CSS Document */

body {
	background-color: #CCC;
	border: medium solid #000;
	margin: 10%;
	padding: 10%;
}
nav {
	list-style-type: none;
}
h4 {
	font-weight: normal;
	color: #000;
}

h1 {
	color: #900;
}
.error {
	color: #F00;
}
